/* Team Fortress 2 Colours */
:root {
    --quality-normal: #B2B2B2;
    --quality-unique: #FFD700;
    --quality-vintage: #476291;
    --quality-genuine: #4D7455;
    --quality-strange: #CF6A32;
    --quality-unusual: #8650AC;
    --quality-haunted: #38F3AB;
    --quality-collectors: #AA0000;
    --quality-decorated: #FAFAFA;
    --quality-community: #70B04A;
    --quality-valve: #A50F79;
    --positive-att: #99CCFF;
    --negative-att: #FF4040;
    --neutral-att: #EBE2CA;
    --background-mid: #3C352D;
    --background-dark: #2B2724;
    --background-darkest: #221E1B;
    --button-background: #776B5F;
    --button-hover: #934739; 
    --item-title: #756B5E;
    --item-hover: #B19600;
    --item-gradient-top: #38332D;
    --item-gradient-bottom: #221F1A;
    --text-highlight: #C95138;
    --text-regular: #A49E9E;
    --killfeed-light: #E0D2B5;
    --teamspirit-red: #B8383B;
    --teamspirit-blu: #5885A2;
}