<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HUDEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HUDEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HUDEditor.Properties.Settings>
            <setting name="hud_selected" serializeAs="String">
                <value />
            </setting>
            <setting name="hud_directory" serializeAs="String">
                <value />
            </setting>
            <setting name="user_language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="app_update_auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="app_xhair_persist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="app_xhair_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="app_xhair_style" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="app_xhair_color" serializeAs="String">
                <value />
            </setting>
            <setting name="app_xhair_size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="app_default_bg" serializeAs="String">
                <value>https://user-images.githubusercontent.com/6818236/123523002-0061aa00-d68f-11eb-8c47-a17b47cbaf0c.png</value>
            </setting>
        </HUDEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HUDEditor.Properties.Settings>
            <setting name="app_docs" serializeAs="String">
                <value>http://www.criticalflaw.ca/TF2HUD.Editor/</value>
            </setting>
            <setting name="json_file" serializeAs="String">
                <value>https://raw.githubusercontent.com/CriticalFlaw/TF2HUD.Editor/master/src/TF2HUD.Editor/JSON/{0}</value>
            </setting>
            <setting name="json_list" serializeAs="String">
                <value>https://api.github.com/repos/CriticalFlaw/TF2HUD.Editor/contents/src/TF2HUD.Editor/JSON</value>
            </setting>
            <setting name="app_tracker" serializeAs="String">
                <value>https://github.com/CriticalFlaw/TF2HUD.Editor/issues</value>
            </setting>
            <setting name="app_update" serializeAs="String">
                <value>https://raw.githubusercontent.com/CriticalFlaw/TF2HUD.Editor/master/Update.xml</value>
            </setting>
            <setting name="mastercomfig_vpk" serializeAs="String">
                <value>https://github.com/mastercomfig/mastercomfig/releases/download/9.5.2/mastercomfig-transparent-viewmodels-addon.vpk</value>
            </setting>
            <setting name="tf2_hud_crosshairs_zip" serializeAs="String">
                <value>https://github.com/Hypnootize/TF2-HUD-Crosshairs/archive/refs/heads/master.zip</value>
            </setting>
        </HUDEditor.Properties.Settings>
    </applicationSettings>
</configuration>