name: build

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        rid: [win-x64, linux-x64]
        include:
          - rid: win-x64
            artifact: tf2hud-editor-win64
          - rid: linux-x64
            artifact: tf2hud-editor-linux

    env:
      Solution_Name: TF2HUD.Editor.slnx

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore src/HUDEditor/HUDEditor.csproj
      
    - name: Build solution
      run: dotnet build -c Debug -r ${{ matrix.rid }} 
      working-directory: src/HUDEditor